body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    box-sizing: border-box;
    margin: 0px auto;
    margin-top: 16px;
    border-radius: 5px;
    width: 282px;
    height: 192px;
    border: 1px solid #c1c1c1;
    box-shadow: 0 1px 1px 1px rgba(0,0,0, 0.3);
    /* opacity: 0.3; */
    padding: 7px 8px 8px 6px;
    position: relative;
}
.small-div {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 17px;
    /* margin-right: 1px; */
    border: 1px solid white;
    /* background-color: green; */
    color: white;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    /* vertical-align: middle; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 3px 1px rgba(0,0,0, 0.3);
    background-image: linear-gradient(to top, #257a1a 15%, #9bdb80 100% );
}
.container-3 {
    border: 1px solid #71b3dd;
    box-sizing: border-box;
    width: 266px;
    height: 100%;
    padding: 2px;
}
.container-4 {
    border: 2px solid #d3e9f6;
    height: 100%;
}
.first {
    font-weight: bold;
    margin-top: 5%;
    margin-left: 5%;
    height: 10%;
}

.first h5 {
    margin: 0;
}

.second {
    line-height: 16px;
    margin-left: 5%;
    font-size: 0.7em;
    font-weight: 600;
    height: 20%;
}

.second p {
    margin: 0;
}

.third {
    margin-left: 5px;
    margin-top: 6px;
    width: 246px;
    height: 50%;
    border-radius: 4px;
    border: 1px solid #b5d9ef;
    border-right: 0.5px solid #b5d9ef;
    border-top: 0.5px solid #b5d9ef;
}

/*-------------------------------------PROGRESS BAR---------------------------------------*/
.progress-bar {
    width: 93%;
    margin: 0 3.5%;
    border: 1px solid blue;
    background-color: #fff;
    text-align:center;
    height: 17%;
    position: relative;
    padding: 0.1%;
}

.progress-bar-value {
    height: 99%;
    width: 0%;
    background-color: #9ecbe8;
}

.progress-bar-numeric-value {
    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 12px;
}
/*-------------------------------------PROGRESS BAR---------------------------------------*/

/*-------------------------------------OLD PROGRESS BAR/*-------------------------------------*/
progress {
    width: 93%;
    margin: 0 3.5%;
    /* box-sizing: border-box; */
    border: 1px solid blue;
    background-color: #fff;
    text-align:center;
}


progress[value]::-webkit-progress-bar {
    background-color: #fff;
}

progress[value]::-webkit-progress-value {
    background-color: #9ecbe8;
}

progress:before {
    content: attr(value)'%';
    position: absolute;
    font-size: 10px;
}
/*-------------------------------------OLD PROGRESS BAR/*-------------------------------------*/

input[type="button"] {
    width: 115px;
    display: inline-block;
    /* height: 60px; */
    padding: 3%;
    border-radius: 5px;
    background-image: linear-gradient(to top, #182c83 20%, #8f9ee6 100%);
    color: white;
    border: 1px solid black;
    margin-right: 3%;
}

input[type="button"]:hover {
    cursor: pointer;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3.5%;
}

.third h4 {
    margin: 4%;
    font-size: 12px;
    margin-bottom: 1%;
}

p {
    font-size: 11px;
}


@media screen and (max-height: 200px) {
    .container {
      height: 150px;
    }

    .first h5 {
        font-size: 12px;
    }

    .second {
        font-size: 0.5em;
    }

    p {
        font-size: 8px;
    }

    .third h4 {
        font-size: 10px;
        margin-top: 2%;
    }

    .button input[type="button"] {
        padding: 3px;
        font-size: 10px;
    }
}

@media screen and (max-height: 150px) {
    .container {
      height: 120px;
    }

    p {
        font-size: 8px;
    }

    .third h4 {
        font-size: 8px;
        margin-top: 1%;
    }

    .button input[type="button"] {
        padding: 1px;
        font-size: 8px;
    }
}